.titles {
	text-align:center;
}

#intro {
	border: 1px solid black;
	padding: 5%;
	font-size: 150%;
	font-weight: bold;
	text-align: center;
}

#cent {
	text-align: center;
}

#cent a {
	font-size: 150%;
	font-weight: bold;
}

table {
  border-style:solid;
  margin-left:10%;
  margin-right:10%;
}

th, td {
  border-style:solid;
  width:10%;
  text-align:center;
}