<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Final Project</title>
	<link rel="stylesheet" type="text/css" href="static/style.css"
  </head>
  <body>
	<div>
	  <h1 class="titles">Final Project (Cloud Only)</h1>
	  <p id="intro">
	    This application grants the user a client key where they can use it
		to access their personalized weather data via the 3rd party Openweathermap
		API requests.
	  </p>
	</div>
	  <br />
	  <br />
	<div id = "cent">
	  <a href="{{ url }}">Access Data</a>
	</div>
  </body>
</html>