<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Final Project</title>
	<link rel="stylesheet" type="text/css" href="static/style.css"
  </head>
  <body>
	<div>
	  <h1 class="titles">Final Project (Cloud Only)</h1>
	  <p id="intro">
	    Welcome to the simple weather API, {{ fname }} {{ lname }}.
		Your personalized id to access data is listed down below.
		The data may not reflect the database as it is your
		Google+ data. However, the unique_id is always the same.
	  </p>
	</div>
	  <br />
	  <br />
	<div id = "cent">
	  <table>
			<tr>
			  <th>First Name</th>
			  <th>Last Name</th>
			  <th>Email</th>
			  <th>Unique ID</th>
			</tr>
			<tr>
			  <td>{{ first_name }}</td>
			  <td>{{ last_name }}</td>
			  <td>{{ email }}</td>
			  <td>{{ unique_id }}</td>
			</tr>
	  </table>
	</div>
  </body>
</html>